{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <a class="btn btn-secondary" href="{% url 'blog:post_edit' post_slug=post.post_slug %}">
                Edit
            </a>
        </aside>
        <div style="display: flex;justify-content: center;margin-right: 15px;"><img  src="{{post.feature_img.url}}" alt="" srcset=""></div>
        <p style="color: blue;">{{ post.post_cat }}</p>
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <h2 class="card-title mb-3 custom-font text-decoration-none">{{ post.title }}</h2>
        <div class="tags mb-2 mt-2">
            {% for tag in post.tags.all %}
                <a href="{% url 'blog:Tag_post' tag_slug=tag.name %}" class=" tag">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    
    <h3>Add Comment</h3>
    <form method="post" action="">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>


    {% with comments.count as total_comments %}

{% endwith %}

{% if not post.comments.all %}
No comments yet

{% else %}
{% for comment in post.get_comments %}
{% include 'blog/comment.html' with comment=comment %}
{% endfor %}
{% endif %}
    <script>
       document.querySelectorAll('.reply-btn',()=>{}).style.display = 'none'
       btn = document.querySelectorAll('#comment-form')
       btn.style.display = 'none'
       function replyFrom(e){
        e.nextElementSibling.style.display = e.nextElementSibling.style.display=='none' ? 'block' : 'none'
       }
    </script>
{% endblock %}
