

{% extends 'blog/base.html' %}

{% block content %}
    {% if posts.count < 1 %}
    <h1>No Post.</h1>
    {% else %}
    {% for post in posts %}
        <article class="post card mb-4 list-artile">
            <div class="card-body">
                <time class="date text-muted">
                    {{ post.published_date }}
                </time>
                <h2 class="card-title"><a href="{% url 'post_detail' post_slug=post.post_slug %}">{{ post.title }}</a></h2>
                <div class="tags">
                    {% for tag in post.tags.all %}
                    <span class="btn btn-secondary">{{ tag.name }}</span>
                {% endfor %}
                </div>
                <p class="card-text" style="color: blue;">Category: {{ post.post_cat.title }}</p>
                <p class="card-text">{{ post.text|linebreaksbr|truncatewords:15 }}</p>
            </div>
        </article>
    {% endfor %}
    {% endif %}
{% endblock %}
