{% extends 'blog/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>User Profile: {{ user.username }}</h2><a href="{% url 'blog:edit_profile' %}" class="btn btn-primary">Edit</a>
        
        {% if user.img %}
             {{user.img_preview2}}
        {% endif %}
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Gender: {{ user.get_gender_display }}</p>
        <p>Date of Birth: {{ user.dob }}</p>
        <p>Designation: {{ user.designation }}</p>
        <p>Address: {{ user.address }}</p>
        <p>Pincode: {{ user.pincode }}</p>
        <p>City: {{ user.city }}</p>
        <p>State: {{ user.state }}</p>
        <p>Country: {{ user.get_country_display }}</p>
    </div>
    
{% endblock %}
