@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}
.catContainer {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.catContainer p {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

.catContainer p:hover {
    cursor: pointer;
    background-color: #b7b6b6;
    /* Add any other styles you want on hover */
}
.tab{
    display: flex;
    justify-content: space-around;
}


.custom-font{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.tag{
    color: rgb(110, 110, 110);
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(184, 184, 184);
}
.custom-card {
    border-radius: 10px; /* Adjust the radius as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the box shadow values */
  }

